 //Infoblock
 .infoblock {
     .caption {
         .caption-content {
            padding: 3rem;
            @include media-breakpoint-down(xl) {
                margin-bottom: 24px;
                padding: 2.5rem;
            }
   
            @include media-breakpoint-down(lg) {
                margin-bottom: 12px;
                padding: 1.5rem;
            }
   
            @include media-breakpoint-down(md) {
                padding: 1rem;
            }
            @include media-breakpoint-down(sm) {
               padding: 0.5rem;
           }
           @include media-breakpoint-down(xs) {
            padding: 0rem;
            }
            .title {
                margin-bottom: 6px;
            }

            h2 {
                margin-bottom: 0px;
            }
   
            .description {
                margin-bottom: 36px;
            }
            .cta-wrapper {
                &>.btn {
                    margin-right: 12px;
                    margin-bottom: 12px;
                }
   
                &:last-child {
                    margin-right: 0px;
                    margin-bottom: 0px;
                }
            }
         }
         &.card {
             box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
         }
     }
     .image {
        padding: 3rem;
        @include media-breakpoint-down(xl) {
            margin-bottom: 24px;
            padding: 2.5rem;
        }

        @include media-breakpoint-down(lg) {
            margin-bottom: 12px;
            padding: 1.5rem;
        }

        @include media-breakpoint-down(md) {
            padding: 1rem;
        }
        @include media-breakpoint-down(sm) {
           padding: 0.5rem;
       }
       @include media-breakpoint-down(xs) {
        padding: 0rem;
        }
    }

    .inlineVideo {
        padding: 3rem;
        @include media-breakpoint-down(xl) {
            margin-bottom: 24px;
            padding: 2.5rem;
        }

        @include media-breakpoint-down(lg) {
            margin-bottom: 12px;
            padding: 1.5rem;
        }

        @include media-breakpoint-down(md) {
            padding: 1rem;
        }
        @include media-breakpoint-down(sm) {
           padding: 0.5rem;
       }
        video {
            width: 100% !important;
            height: auto !important;
        }
    }
 }