.fullscreen-slider {
  display: flex;
  position: relative;
  flex: 1;
  overflow: hidden;
  flex-direction: column;

  .slide {
    height: 100vh;
    display: flex;
    flex: 1;
    position: relative;
    .backgroundImage {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .content {
      display: flex;
      flex: 1;
      z-index: 50;
      align-items: center;
      padding: 5rem;
      position: relative;
      .caption {
        display: flex; 
        flex-direction: column; 
        flex: 1;
        .title {
          font-size: 100px;
          font-family: 'Josefin Sans', sans-serif;
          font-weight: 700;
          line-height: 1;
          max-width: 600px;
        }
        .description {
          max-width: 600px;
        }
      }
      .image {
        display: flex; 
        flex: 1;
      }
      .cta-wrapper {
        position: absolute;
        bottom: 48px;
      }
      &.flow-left-to-right {
        .cta-wrapper {
          left: initial;
          right: 48px;
        }
      }
      &.flow-right-to-left {
        .cta-wrapper {
          right: initial;
          left: 48px;
        }
      }
      .description {}
    }
    .cta-wrapper{
      
    }
  }
}