//Loader styles


//Remove scrollbar jump
html {
    width: 100vw;
    overflow-x: hidden;
}

.loader {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;

    main {
        opacity: 0;
    }
}

.page-loader-mask {
    // mask-image: url(../../assets/img/Masks.png);
    // mask-type: luminance;
    // mask-repeat: no-repeat;
    // mask-position: center center;
    // mask-size: 100%;
    mask-image: radial-gradient(ellipse closest-side,
            rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}



.logoreveal {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #FAFBFB;
    z-index: 9999;
    display: flex;
    &.dark {
        background-color: black;
        .progress {
            background-color: #242424 !important;
            .progress-bar {
                opacity: 0.3;
                // background-color: #F49800 !important;
                // background-color: #FFBF00 !important;
                // background-color: #ED6D05 !important;
                background-color: #898989 !important;
            }
        }
        .brand-wordmark {
            color: white !important;
        }
    }

    .progress {
        width: 150px;
        height: 2px;
        margin-top: 5px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 20%;
        background-color: #f9f9f9;
        &:after {
            content: '';
            display: block; 
            position: absolute; 
            left: 0;
            right: 0;
            height: auto; 
            width: 100%;
        }
        .progress-bar {
            background-color: #dddddd;
        }
    }

    .i3-brand-wrapper {
        display: flex; 
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: center;
        .i3-brand {
            bottom: 150px;
            text-align: center;
            justify-content: center;
            display: flex;
            width: 100%;
    
            .brand-wordmark {
                margin-top: 12px;
                font-size: 30px;
                color: black;
            }
        }
    
        .logo {
            opacity: 1;
            width: 150px;
            height: 150px;
            svg {
                overflow: visible;
            }
    
            .svg-wrapper {
                width: 100%;
                height: auto;
                .svg-content {
                    // #i3-symbol-outline {
                    //     opacity: 0 ;
                    //     #i-primary {
                    //         #stripe-primary {
                    //             fill: #ED6D05;
                    //         }
                    //         #dot-primary {
                    //             fill: #ED6D05;
                    //         }
                    //     }
                    //     #i-secondary {
                    //         #stripe-secondary {
                    //             fill: #F49800;
                    //         }
                    //         #dot-secondary {
                    //             fill: #F49800;
                    //         }
                    //     }                
                    //     #i-tertiary {
                    //         #stripe-tertiary {
                    //             fill: #FFBF00;
                    //         }
                    //         #dot-tertiary {
                    //             fill: #FFBF00;
                    //         }
                    //     }  
                    // }
                    // #i3-symbol-stroke {
                    //     opacity: 1 ;
                    //     #i-primary-stroke {
                    //         #stripe-primary-stroke {
                    //             fill: #ED6D05;
                    //         }
                    //         #dot-primary-stroke {
                    //             fill: #ED6D05;
                    //         }
                    //     }
                    //     #i-secondary-stroke {
                    //         #stripe-secondary-stroke {
                    //             fill: #F49800;
                    //         }
                    //         #dot-secondary-stroke {
                    //             fill: #F49800;
                    //         }
                    //     }                
                    //     #i-tertiary-stroke {
                    //         #stripe-tertiary-stroke {
                    //             fill: #FFBF00;
                    //         }
                    //         #dot-tertiary-stroke {
                    //             fill: #FFBF00;
                    //         }
                    //     }  
                    // }                               
                }
            }
        }           
    }

}