/*MAIN APP CONFIG*/

html {
    //Remove scrollbar jump
    width: 100vw;
    overflow-x: hidden;
    // overflow: hidden;
    // scroll-behavior: smooth;
    // overflow: hidden;
    body {
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        // visibility: hidden;
        display: flex;
        &.initial-load-style {
            // visibility: hidden;
            overflow: hidden;
        }
        &.loaded {
            overflow-y: visible;
        }
        &.navbar-open {
            overflow: hidden;
        }
        #barba-container {
            display: flex; 
            flex: 1;
            flex-direction: column;
            #app {
                display: flex; 
                flex: 1;
                #loaders {
                    z-index: 9999;
                    .loader {
                        overflow: hidden;
                        height: 100vh;
                        width: 100vw;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        z-index: 99999;
                    }
                }
                #app-content {
                    &.loading {
                        visibility: hidden;
                        height: 0;
                    }
                    display: flex; 
                    flex-direction: column;
                    flex: 1;
                    height: auto;
                    header {
                        z-index: 1000;
                        position: relative;
                    }
                    main {
                        display: flex; 
                        flex: 1;
                        flex-direction: column;
                        .main-content {
                            padding-top: 36px;
                            display: flex; 
                            flex: 1;
                            flex-direction: column;
                            // justify-content: center;
                        }
                    }
                    footer {
    
                    }
                }  
            } 
        }
     
    }
}


/*DEBUG GSAP*/
.gs-dev-tools {
    z-index: 50000;
}

.container {
    &.container-edge-to-edge {
        padding: 0px;
        width: 100%;
        max-width: unset;

        &.row {
            margin: 0px;
        }
    }
}

.grid-flexrow {
    display: flex;

    .row {
        display: flex;
        flex: 1;
        width: 100%;

        [class|="col"] {
            display: flex;
            padding: 0px;

            >div {
                display: flex;
                flex: 1;
                flex-direction: column;
                width: 100%;
            }
        }
    }
}

