////                                       ////
//      Styling of Login Section             //
////                                       ////
body {
    //background-color: var(--portal-bg-color);
    //background-color: $color-grey-bg;
    background-color: #f1f1f1;
}
.portal-content {
    //height: calc(100vh - 100px) /*calc(100vh - 120px)*/;
    overflow: auto;
    height: auto !important;

    @include for-size(s-min) {
        height: calc(100vh - 100px) !important;
        overflow: hidden; 
    }
}