@import "mixins/custom-flex";
.component-newsletter {
	position:relative;
	overflow:hidden;
	@include display-flex();
	flex-direction:column;	
	.backgroundImage, .backgroundVideo {
			position: absolute;
			height: 100%;
			width: 100%;
			margin: auto;
			z-index:0;
	} 
	.content {
		.cta-button {
			.btn {
				padding: 0.8rem 1.2rem;
			}
		}
	}
}
