@import "mixins/custom-flex";

.component-form, .infoblock-a, .infoblock-b, infoblock-c
{
    position:relative;
    overflow:hidden;
    select.form-control:not([size]):not([multiple]){
        height: calc(2.25rem + 4px);
    }
    .backgroundImage, .backgroundVideo {
        position: absolute;
        height: 100%;
        width: 100%;
        margin: auto;
        z-index:0;
    }
    .form-wrapper
    {
        max-width: 768px;
        margin: 0 auto;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,0.125);
        margin-bottom: 25px;
		&.login{
			width: 50%;
		}
        .content
        {
            padding:1.5rem;
            padding-top:3rem;
			@include media-breakpoint-down(lg) {
			    padding:0.5rem;
                padding-top:1rem;
			}
			.section-title{
			
				h3{
					color:$gray;
				}
			}
        }
        .btn {
            border-radius: 50px;
            text-transform: none;         
            margin: 0px 18px 0px 0px;
            padding: 0.65rem 1.25rem;
          }
        select
        {
            padding-top:0;
            padding-bottom: 0;
            -moz-appearance: none;
            -webkit-appearance: none;
            background-image: url(../images/Contact/form/dropdown-icon.jpg);
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
        }
        select::-ms-expand {
            display: none;
        }
        .hbspt-form {
            margin-left: auto; 
            margin-right: auto; 
            display: inline-block;
            width: 100%;
            input[type="checkbox"], input[type="radio"] {
                opacity: 0;
                position: absolute;
            }
            input[type="checkbox"] + span:before, input[type="radio"] + span:before {
                content: '';
                background: #fff;
                border: 2px solid #ddd;
                display: inline-block;
                vertical-align: middle;
                width: 20px;
                height: 20px;
                padding: 2px;
                margin-right: 10px;
                text-align: center; 
            }

            input[type="checkbox"]:checked + span:before {
                background: $teal;
                box-shadow: inset 0px 0px 0px 4px #fff;
            }

            input[type="radio"] + span:before {
                border-radius: 50%;
            }

            input[type="radio"]:checked + span:before {
                background: #ccc;
                box-shadow: inset 0px 0px 0px 4px #fff;
            }


            input[type="checkbox"]:focus + span, put[type="radio"]:focus + span {
              outline: 1px solid #ddd; /* focus style */
            }
            input[type="radio"] + span, input[type="checkbox"] + span {
                font-size: 15px; 
                font-weight: 300;
                //font-family: Roboto Condensed;
            }
            fieldset {
                max-width: 100%;
                margin-bottom: 30px;
            }
            ul.hs-error-msgs.inputs-list {
                li > label {
                    color: $gray;
                }
            }
            /*input:not([type="image"]) {
                box-sizing: content-box;
            }*/
            .hs-button.primary.large {
                display: inline-block;
                font-weight: normal;
                border: 1px solid transparent;
                padding: 0.5rem 0.75rem;
                line-height: 1.25;
                border-radius: 0rem;
                transition: all 0.15s ease-in-out;
                background-color: #737566;
                background-image: none;
                border-color: #6c6e60;
                color: white;
                outline: 0;
                cursor: pointer;
                margin-top: 15px;
                margin-bottom: 15px;
                &:hover, &:active, &:focus {
                    color: #fff;
                    background-color: darken(#737566, 10%);
                    border-color: #6c6e60;
                    outline: 0;
                }
            }
            label {
                display: block;
                float: none;
                width: auto;
                font-weight: bold;
                text-align: left;
                line-height: 20px;
                padding-top: 0;
                margin-bottom: 4px;
                font-size: 13px;
                //font-family: Roboto Condensed;
                font-weight: 400;
            }
            input.hs-input {
                &.invalid, &.error {
                    border-color: $orange;
                    box-shadow: none;
                }
            }
            .inputs-list{
                    padding-left: 5px;
                    list-style: none;
                    margin: 0 0 5px;
                    width: 100%;
                li input {
                    margin: 3px 5px 3px 0px;
                }
                input[type=radio] {
                    margin-bottom: 0px;
                }
                &:first-child {
                    padding-top: 6px;
                }
                &>li label {
                    font-weight: normal;
                    padding-top: 0;
                }
            }
            .hs-form-required {
                color: red;
            }
            .form-columns-1 {
                .hs-input {
                    width: 100%;
                    &[type=checkbox], &[type=radio] {
                        width: auto;
                        height: auto;
                        display: inline-block;
                    }
                }

            }
            input[type=radio] {
                width: auto;
                height: auto;
                padding: 0;
                margin: 3px 0;
                line-height: normal;
                border: none;
            }

        }
    }	

    .form-control:focus
        {
        border-color:#1a2a31;
        padding-right:45px;
    }
    .input-group-addon
    {
        background-color: #e6e6e6;
        background-image: url(../images/Contact/form/attachment-icon.jpg);
        background-repeat: no-repeat;
        background-position: left;
        padding: 0rem 1.2rem;
    }


}

//media-queries	
@include media-breakpoint-down(md) {
    .component-form
    {
        .form-wrapper
        {
            width:100%;		
			&.login{
				width: 100%;
			}
            .content
            {
                padding:0.5rem;
                padding-top:1.5rem;
            }
        }
    }
}


body.hs-form {

}