:root {
  --portal-bg-color: #262626; }

.text-row {
  align-items: center;
  margin: 30px 0; }
  .text-row:last-of-type {
    margin: 30px 0; }
  @media (min-width: 992px) {
    .text-row {
      margin: 30px 0 120px; } }

.row-reverse {
  flex-direction: row-reverse; }

.component-download .content .cta-button .btn.btn-outline-black {
  width: 100%; }

.component-download .content .cta-button .btn {
  width: auto; }

.component-featurelist .card-deck.horizontal .card .card-img-bg {
  width: 15%; }

.z-index-100 {
  z-index: 100; }

.button {
  padding: 10px 15px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 600;
  text-decoration: none;
  transition: all .2s ease; }
  .button.nav-button {
    padding: 5px 10px !important;
    display: block; }
  .button:hover {
    text-decoration: none; }

.button-general {
  background-color: #FF9900;
  border: 1px #FF9900 solid; }
  .button-general:hover {
    background-color: #d26d30;
    color: white !important;
    border-color: #d26d30; }

.button-education {
  background-color: #ffc000;
  border: 1px #ffc000 solid; }
  .button-education:hover {
    background-color: #e1aa01;
    color: white !important;
    border-color: #e1aa01; }

.button-business {
  background-color: #00a7e1;
  border: 1px #00a7e1 solid; }
  .button-business:hover {
    background-color: #0584b0;
    color: white !important;
    border-color: #0584b0; }

.button-border {
  background-color: transparent;
  border: 1px #FF9900 solid;
  color: #FF9900; }
  .button-border:hover {
    border-color: #d26d30 !important;
    color: #d26d30 !important; }

.link-button {
  font-weight: 700;
  font-size: .9em;
  color: #333333; }
  .link-button:hover {
    text-decoration: none;
    color: #FF9900; }
  .link-button.download-link {
    margin: 5px 0;
    flex-direction: row !important;
    align-items: center;
    font-weight: 400;
    transition: all .3s ease !important; }
    .link-button.download-link .icon-span {
      margin-left: 10px;
      font-size: .8em;
      transition: all .2s ease !important; }
    .link-button.download-link:hover {
      border-color: #FF9900 !important;
      color: #FF9900 !important; }
      .link-button.download-link:hover .icon-span {
        color: #FF9900; }

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px; }

strong {
  font-weight: 700; }

.h1-title {
  color: #333333;
  font-weight: 700;
  line-height: 1.3em; }
  .h1-title.big-title {
    font-size: 2.5em; }
  .h1-title.vip-title {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1em; }
  .h1-title.vip-title,
  .h1-title .color-span {
    font-size: 40px; }
    @media (min-width: 992px) {
      .h1-title.vip-title,
      .h1-title .color-span {
        font-size: 75px; } }

.color-span {
  margin-bottom: 20px; }
  .color-span.yellow-letter {
    color: #ffc000; }
  .color-span.orange-letter {
    color: #FF9900; }
  .color-span.brown-letter {
    color: #d26d30; }
  @media (min-width: 992px) {
    .color-span {
      margin-bottom: 30px; } }

.h2-title {
  font-weight: 700;
  color: #333333;
  font-size: 1.8em;
  line-height: 1.1em; }
  .h2-title.title-bigger {
    font-size: 3em;
    line-height: 1em; }
    @media (min-width: 992px) {
      .h2-title.title-bigger {
        font-size: 4em; } }

.h3-title {
  font-weight: 700;
  color: #333333;
  font-size: 1.15em; }

.banner-block .h1-title,
.banner-block .h2-title,
.banner-block .h2-title {
  color: #FFFFFF; }

.summary,
.summary p,
.text-block-content p {
  font-size: .85em;
  color: #7f7f7f;
  line-height: 1.5em; }

.subtitle {
  color: white;
  font-size: .8em;
  line-height: 1.7em; }

span.bold {
  font-weight: 700; }

.upper-title {
  margin: 0; }

.spotlight-item-title {
  font-size: 1.8em;
  font-weight: 700;
  color: #333333; }

.sub-title {
  font-size: .8em;
  color: #333333;
  line-height: 1.5em; }
  .sub-title.big-title {
    font-size: 1em;
    color: #bbbbbb; }
    @media (min-width: 992px) {
      .sub-title.big-title {
        font-size: 1.2em; } }

.row-title {
  font-weight: 700;
  font-size: 1.2em; }

/**umb_name:H2 Title*/
.h2-title {
  font-weight: 700;
  font-size: 1.8em;
  line-height: 1.1em; }

/**umb_name:Big Link*/
.BigLink {
  font-weight: 600;
  font-size: 1.4em;
  line-height: 1.3em; }

.version-list {
  font-size: .7em; }

.navbar-white .navbar-nav .nav-item .nav-link:hover, .navbar-white .navbar-nav .nav-item .nav-link:focus, .navbar-white .navbar-nav .nav-item .nav-link:active, .navbar-white .navbar-nav .nav-item .nav-link.active,
.navbar-white .navbar-nav .nav-item .nav-link .dropdown-menu {
  border-bottom: 1px solid #FF9900 !important;
  color: rgba(0, 0, 0, 0.8); }

.navbar-white .navbar-nav .active .nav-link {
  border-bottom: 1px solid #FF9900 !important; }

.navbar-white.top-nav .navbar-nav .nav-link:hover {
  border-bottom: none !important; }

.top-nav .navbar-nav .dropdown-menu {
  margin: 0; }

.navbar-white .dropdown-arrow:before {
  border-bottom: 10px solid #FF9900 !important; }

.navbar-white .dropdown-submenu > a.active:after {
  border-left-color: #FF9900;
  color: #FF9900; }

.navbar-white .navbar-nav .nav-item {
  margin: 0;
  padding: 0; }
  .navbar-white .navbar-nav .nav-item .nav-link {
    padding: 20px 10px;
    margin: 0; }

.navbar-white .nav-link.active {
  border-bottom: 1px solid #FF9900; }

.navbar-white .dropdown-submenu:hover > a:after,
.navbar-white .dropdown-submenu:focus > a:after,
.navbar-white .dropdown-submenu:active > a:after {
  border-left-color: #FF9900;
  color: #FF9900; }

.navbar-white .dropdown-item:focus,
.navbar-white .dropdown-item:hover {
  color: #FF9900; }

.navbar-white .dropdown-menu {
  left: 0;
  width: 100%;
  top: 100%;
  margin: 0;
  padding: 0; }

.navctawrapper .button {
  margin: 0 5px; }

.navigation-header {
  position: fixed;
  width: 100%;
  background: white;
  box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.25); }

.navigation-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center; }

.navigation-logo {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }

.navbar-brand {
  width: 50%; }
  .navbar-brand img {
    width: 100%; }

.navigation-links {
  display: flex;
  flex-direction: column;
  width: 85%; }

.navbar-fixed-top-2,
.navbar-fixed-top-1 {
  position: relative;
  top: unset; }

.navbar-white {
  box-shadow: none; }

.button-group {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: center; }
  .button-group .button-portal {
    margin: 0 10px; }

.button-portal {
  border: none;
  border-bottom: #d26d30 3px solid;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  padding: 10px 60px;
  cursor: pointer;
  outline: none !important;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 400;
  transition: all ease .2s;
  text-decoration: none !important; }
  .button-portal:hover {
    color: #FFFFFF; }
  .button-portal:active {
    border-bottom-width: 1px;
    margin-top: 2px; }
  .button-portal.button-portal-general {
    background-color: #FF9900;
    background-color: #FF9900;
    border-bottom-color: #cc7a00; }
    .button-portal.button-portal-general:hover {
      background-color: #b36b00;
      border-color: #663d00; }
  .button-portal.button-portal-logout {
    background-color: #00ab99;
    border-bottom-color: #00675c; }
    .button-portal.button-portal-logout:hover {
      background-color: #00675c;
      border-color: #00221f; }

.a-link {
  text-decoration: none;
  color: #FF9900;
  transition: color .2s ease;
  display: block;
  line-height: 1.2em;
  font-weight: 600; }
  .a-link:hover {
    color: #d26d30; }
  .a-link.contact-link {
    font-size: .9em; }

.acrobat-button {
  display: inline-block;
  width: 150px;
  transition: opacity .2s ease;
  margin-top: 20px; }
  .acrobat-button img {
    max-width: 100%; }
  .acrobat-button:hover {
    opacity: .8; }

.logout-button {
  border: none;
  background: none;
  text-align: right; }
  .logout-button:hover {
    cursor: pointer; }

.form-item {
  width: 100%;
  display: flex;
  flex-flow: column wrap; }

.input-group {
  margin: 10px 0;
  width: 80%;
  min-width: 300px;
  position: relative; }

.submit-group {
  flex-flow: column;
  margin-top: 30px; }
  .submit-group input.button {
    width: 100%; }

.input-group label {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  position: relative; }

.form-label {
  display: none;
  padding: 0 5px;
  bottom: 5px;
  font-size: .8em; }

.form-link {
  font-size: .6em;
  font-weight: 600;
  color: #00A7E1 !important; }

.input-item {
  padding: 5px;
  background: none;
  border: none;
  border-bottom: #7f7f7f 1px solid;
  z-index: 50;
  transition: border .2s ease; }
  .input-item:active, .input-item:focus {
    outline: none;
    border-bottom: 1px solid #FF9900; }
  .input-item::placeholder {
    color: #7f7f7f;
    font-weight: 100; }

.simple-form input, .simple-form button {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border: none; }

.simple-form .input-group {
  width: 100%;
  display: flex; }
  .simple-form .input-group .submit-button {
    right: 10px;
    top: 50%;
    transform: translateY(-50%); }
  .simple-form .input-group:hover .submit-button {
    color: #FF9900; }
  .simple-form .input-group input {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px; }

.simple-form input {
  background: #FFFFFF;
  width: 100%;
  padding: 15px 20px;
  font-size: 1em;
  border: 1px solid #FFFFFF; }
  .simple-form input::placeholder {
    color: #bbbbbb; }
  .simple-form input:active, .simple-form input:focus {
    outline: none;
    border: 1px solid #FF9900; }

@media (min-width: 767px) {
  .simple-form {
    font-size: 1.4em; } }

.submit-button {
  background: none;
  position: absolute;
  font-size: 1.2em;
  color: #bbbbbb; }

.filter-param.filter-search {
  margin-left: auto; }
  .filter-param.filter-search .simple-form .input-group {
    min-width: initial;
    margin: 0; }
    .filter-param.filter-search .simple-form .input-group input {
      font-size: 1em;
      background: none;
      padding: 6px 10px;
      border: none;
      border-bottom: 1px #bbbbbb solid; }
      .filter-param.filter-search .simple-form .input-group input:active, .filter-param.filter-search .simple-form .input-group input:focus {
        border-color: #FF9900; }
    .filter-param.filter-search .simple-form .input-group:hover .submit-button {
      color: #bbbbbb; }
      .filter-param.filter-search .simple-form .input-group:hover .submit-button:hover {
        cursor: pointer;
        color: #FF9900; }

/*@import "RTE.scss";*/
.section-block-intro {
  margin-bottom: 30px;
  text-align: center; }

.section-cta {
  text-align: center; }

.splash-section {
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 62px);
  width: 100%;
  margin-top: 62px !important; }
  .splash-section .splash-block {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center; }
    .splash-section .splash-block .h1-title {
      color: #FFFFFF; }
    .splash-section .splash-block .subtitle {
      font-size: 1em; }
    .splash-section .splash-block.right .banner-content {
      right: 0;
      text-align: right; }
    @media (min-width: 992px) {
      .splash-section .splash-block.right {
        padding-left: 5px; }
      .splash-section .splash-block.left {
        padding-right: 5px; } }
  @media (min-width: 1200px) {
    .splash-section {
      flex-flow: row nowrap; }
      .splash-section .splash-block {
        width: 55%;
        align-items: flex-end; } }

.banner-image-wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative; }

.splash-block:hover .banner-image-wrapper .banner-image {
  transform: scale(1.03); }

.banner-image {
  min-height: 100%;
  position: absolute;
  transition: all 1.5s ease; }

.banner-image-overlay {
  position: absolute;
  width: 100%;
  z-index: 50;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  height: 100%; }
  @media (min-width: 1200px) {
    .banner-image-overlay {
      height: 60%;
      background: black;
      background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.85618) 0%, rgba(0, 0, 0, 0) 100%);
      background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.85618) 0%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.85618) 0%, rgba(0, 0, 0, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1); } }

.banner-content {
  position: absolute;
  z-index: 55;
  padding: 40px;
  max-width: 100%;
  width: 100%; }
  .banner-content .h1-title,
  .banner-content .subtitle {
    margin-bottom: 40px; }
  @media (min-width: 767px) {
    .banner-content {
      width: 60%; } }
  @media (min-width: 992px) {
    .banner-content {
      width: 80%;
      padding: 70px; } }
  @media (min-width: 1500px) {
    .banner-content {
      width: 65%; } }

.logo-section {
  padding: 35px 0; }

.logo-items {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center; }
  .logo-items img {
    max-height: 70%;
    max-width: 100%; }

.logo-item {
  display: flex;
  /* align-content: center; */
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 120px;
  text-align: center; }
  .logo-item:hover {
    filter: grayscale(0); }
  @media (min-width: 767px) {
    .logo-item {
      width: 16.666%; } }

.testimonial-block {
  background-color: #f1f5f9;
  padding: 60px 0; }

.testimonial-items {
  min-height: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 50px; }

.grid-item {
  width: 100%;
  min-height: 450px;
  border-radius: 2px;
  display: flex;
  flex-flow: column nowrap;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  overflow: hidden;
  background-color: #FFFFFF;
  -webkit-box-shadow: 1px 1px 65px -15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 65px -15px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 65px -15px rgba(0, 0, 0, 0.3);
  transition: all .5s ease;
  margin-bottom: 20px; }
  .grid-item .link-button {
    transition: .2s ease all; }
  .grid-item:hover {
    -webkit-box-shadow: 1px 1px 65px -15px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 1px 1px 65px -15px rgba(0, 0, 0, 0.7);
    box-shadow: 1px 1px 65px -15px rgba(0, 0, 0, 0.7);
    cursor: pointer; }
    .grid-item:hover .link-button {
      color: #FF9900; }
  @media (min-width: 767px) {
    .grid-item {
      width: 48%;
      margin-right: 4%; }
      .grid-item:nth-child(even) {
        margin-right: 0; } }
  @media (min-width: 992px) {
    .grid-item {
      width: 31%;
      margin-right: 3.5%;
      height: 550px; }
      .grid-item:nth-child(even) {
        margin-right: 3.5%; }
      .grid-item:last-child {
        margin-right: 0; } }
  @media (min-width: 1200px) {
    .grid-item {
      margin-bottom: 0;
      height: 500px; } }
  .grid-item .grid-item-image {
    background-color: #FF9900;
    height: 50%;
    overflow: hidden;
    position: relative; }
    .grid-item .grid-item-image picture {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .grid-item .grid-item-image img {
      min-height: 100%; }
    .grid-item .grid-item-image .grid-item-label {
      position: absolute;
      top: 20px;
      margin: 0;
      padding: 5px 15px;
      color: #FFFFFF;
      font-weight: 700;
      font-size: .8em; }
      .grid-item .grid-item-image .grid-item-label.education-label {
        background-color: #ffc000; }
      .grid-item .grid-item-image .grid-item-label.business-label {
        background-color: #00a7e1; }
  .grid-item .grid-item-content {
    padding: 20px;
    height: 50%; }
  .grid-item .link-button {
    display: block;
    text-align: center; }

.grid-item-content-logo-wrapper {
  height: 40px;
  max-width: 100px;
  margin-bottom: 10px;
  display: flex;
  align-items: center; }
  .grid-item-content-logo-wrapper img {
    max-width: 100%; }

.banner-block {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex; }
  @media (min-width: 767px) {
    .banner-block {
      height: auto;
      min-height: 40vh; } }
  @media (min-width: 992px) {
    .banner-block {
      height: 50vh; } }

.banner-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .5; }

.banner-block-wrapper {
  z-index: 100;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%; }
  @media (min-width: 992px) {
    .banner-block-wrapper {
      margin-left: 50px;
      padding: 100px 0;
      width: 45%; } }

.banner-block-content {
  color: #FFFFFF; }
  .banner-block-content .h1-title {
    margin-bottom: 30px; }
  .banner-block-content .intro-text {
    margin-bottom: 35px; }

.other-page .banner-overlay {
  opacity: .8;
  background: -moz-radial-gradient(bottom left, ellipse cover, #00a7e1 0%, #0d3e59 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(bottom left, ellipse cover, #00a7e1 0%, #0d3e59 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at bottom left, #00a7e1 0%, #0d3e59 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a7e1', endColorstr='#0d3e59',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.spotlight-block {
  padding: 70px 0; }

.spotlight-item {
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
  text-decoration: none !important;
  transition: .5s ease all;
  margin-top: 20px; }
  @media (min-width: 992px) {
    .spotlight-item {
      margin-top: 0; } }

.spotlight-item-info {
  text-align: center;
  width: 100%; }
  .spotlight-item-info .spotlight-item-title {
    margin-bottom: 20px; }

.spotlight-item-picture {
  max-width: 50%; }
  .spotlight-item-picture img {
    width: 100%; }
  @media (min-width: 992px) {
    .spotlight-item-picture {
      width: 40%; } }

.spotlight-item-big {
  margin-top: 0; }
  @media (min-width: 992px) {
    .spotlight-item-big {
      flex-flow: row nowrap; }
      .spotlight-item-big .spotlight-item-info {
        width: 60%; } }
  @media (min-width: 992px) {
    .spotlight-item-big .spotlight-item-picture {
      margin-left: 20px; } }

.text-block {
  padding: 50px 0; }

.text-block-image {
  display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: 20px; }
  .text-block-image img {
    width: 100%; }

.row-reverse .text-block-image {
  justify-content: flex-end; }

@media (min-width: 992px) {
  .text-block {
    padding: 100px 0; }
  .text-block-image img {
    width: 95%; } }

.text-block-row {
  margin: 50px 0; }
  .text-block-row:nth-child(even) .text-row {
    flex-direction: column-reverse; }
    @media (min-width: 992px) {
      .text-block-row:nth-child(even) .text-row {
        flex-direction: row; } }
  .text-block-row:nth-child(even) .text-block-image {
    justify-content: flex-end; }

.table-block {
  padding: 100px 0; }
  .table-block .section-block-intro .vip-title {
    margin-bottom: 0; }

.benefit-table {
  width: 100%; }
  .benefit-table thead tr {
    border: none; }
  .benefit-table tr {
    border-top: #f0f0f0 1px solid; }
  .benefit-table td {
    padding: 7px 0 7px 15px;
    text-align: center;
    font-size: .8em; }
    .benefit-table td:first-of-type {
      text-align: left;
      font-size: 1em; }
  .benefit-table .row-title {
    padding: 7px 0 7px 5px;
    font-size: 1.2em; }

.benefit-table-badge {
  --badge-size: 14%;
  width: var(--badge-size);
  height: calc(var(--badge-size) - 20px);
  margin-bottom: 20px;
  text-align: center; }
  .benefit-table-badge img {
    width: 70%; }

.form-block {
  margin: 100px 0; }
  .form-block .title-bigger {
    text-align: center; }
    @media (min-width: 992px) {
      .form-block .title-bigger {
        text-align: right; } }

.bottom-links {
  margin-top: 20px; }
  .bottom-links a {
    color: #333333; }
    .bottom-links a:hover {
      color: #FF9900; }

.big-link {
  font-weight: 700;
  font-size: 16px; }

.rte-link {
  color: #7f7f7f; }
  .rte-link a {
    font-weight: 600; }
  .rte-link p {
    font-size: 14px; }
  .rte-link a, .rte-link p {
    color: #7f7f7f; }

.login-section {
  background: #F9F9F9;
  padding: 100px 0; }

.educational-page .banner-block .banner-overlay {
  background: #FF9900; }

.educational-page .spotlight-item {
  background: #fffcf2; }
  .educational-page .spotlight-item:hover {
    background: #f9f2db; }

.educational-page .testimonial-block {
  background: #fffcf2; }

.business-page .banner-block .banner-overlay {
  background: #00a7e1; }

.business-page .banner-block .button-education {
  background: #00a7e1;
  border: #00a7e1; }

.business-page .logo-items {
  border-bottom: 1px solid #f0f0f0; }

.business-page .spotlight-item {
  background: #f2fbfe; }
  .business-page .spotlight-item:hover {
    background: #dbebf0; }

.business-page .testimonial-block {
  background: #f2fbfe; }
