
// @import "i3-variables.scss";

// Utilities
.no-repeat {background-repeat:no-repeat;}
.cover {background-size:cover;}
.center-center{background-position:center center !important;}


// Buttons
// .btn {
//     &.btn-primary, 
//     &.btn-outline-primary,
//     &.btn-secondary, 
//     &.btn-outline-secondary,
//     &.btn-tertiary, 
//     &.btn-outline-tertiary {
//         border-radius: 100px;
//         padding: 12px 24px;
//         line-height: 1.25;
//         min-width: 120px;
//         font-family: 'Josefin Sans', sans-serif;
//         font-weight: bold;
//         font-size: 16px;

//     }
// }


// .btn-secondary, .btn-tertiary {
//     color: white !important;
// }

// .btn-link {
//     color: #242424 !important;
//     font-weight: bold !important;
// }


// .btn-outline-primary {
//     &:hover, &:focus, &:active {
//         background-color: #FDF0E5 !important;
//         border-color: #FDF0E5 !important;
//         color: $primary !important;
//     }
// }

// .btn-primary-muted {
//     &:hover, &:focus, &:active {
//         background-color: $primary !important;
//         border-color: $primary !important;
//         color: #ffffff !important;
//     } 
// }