////                                                 ////
//      Styling of the Specification Menu Item         //
////                                                 ////
.specification-item {
    
}
.language-switcher {
    width: 40%;
    border: 1px solid $color-educational;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 15px;
    margin: 10px 0;
    font-size: 1.2em;
    color: $color-grey-med
} 

select.language-switcher {
    &:focus, 
    &:active {
        outline: none;
    }
}