////                                           ////
//      Global settings of the site              //
////

// Font Settings
$font-main: 'Karla', sans-serif;
$font-size: 16px;

:root {
    --portal-bg-color: #262626;
}
