////                  ////
//      Variables       //
////                  ////

// Colors
$color-main: #ED6D05; // Orange
$color-main-hover: #d86100; // Slightyle Darker Orange
$color-main-dark: #d86100; // Darker Orange
$color-main-2: #00ab99; // Green
$color-educational: #ffc000; // Yellow
$color-educational-light: #fffcf2; // Light Yellow
$color-educational-light-hover: #f9f2db;
$color-educational-dark: #e1aa01; // Darker Yellow
$color-business: #00a7e1; // Blue
$color-business-light: #f2fbfe; // Light Blue
$color-business-light-hover: #dbebf0;
$color-business-dark: #0584b0; // Darker Blue
$color-bg: #f1f5f9; // Grey Blue - Background
$color-grey: #7f7f7f; // Grey
$color-grey-bg: #F9F9F9;
$color-grey-light: #f0f0f0; // Light Grey
$color-grey-med: #bbbbbb;
$color-black: #333333; // Black
$color-black-bg: #262626; // Golden Circle BG Black
$color-white: #FFFFFF; // White r
$color-link: #00A7E1;
$color-microsoft-word: #00a1f1;
$color-pdf: #ff0000;
$color-excel: #207245;
$color-main-3: #ED6D05; // Orange
$color-silver: #898989;
